<div class="container">
<div class="search-form">
    <h1>Find a wonderful screening near you</h1>
      <%= simple_form_for @screening do |f| %>
        <div class="row" style="margin: 0">
        <%= f.input :location %>
        <%= f.input :datetime, as: :date %>
         <%= f.input :number_of_guests %>
         <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-danger btn-lg btn-block " %>
      <% end %>
      </div>
</div>
</div>



<div class="navbar fixed-top"></div>
<div class="main container">
  <div class="banner">
    <div class="banner-content">
      <div class="title">
        <h1>The screenings</h1>
      </div>
    </div>
  </div>
  <div class="container">
  <%= link_to "add a screening", new_screening_path, class:"btn" %>
    <% @screenings.each do |screening| %>
      <h2><%= link_to screening.film, screening_path(screening), class:"card-link" %></h2>
  <% end %>
  </div>
</div>
<% if policy(Screening).create? %>
  <%= link_to "New screening", new_screening_path %>
<% end %>
