<div class="main-container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/abstract.jpg);">
  <div class="container">
    <div class="animated-css">
    <h1 class="effet">
      <span>Ciné @ Home</span>
    </h1>
<div class='outer-scratch'>
  <div class="inner-scratch">
    <div class="background grain"></div>
  </div>
</div>
</div>
    <h1 class="title">Find a <strong>wonderful screening</strong> near you!</h1>
    <div class="align">
      <form>
  <div class="search-form">
    <%= form_tag screenings_path, method: :get do %>
    <%= text_field_tag :location,
      params[:location],
      class: "form-control",
      placeholder: "What's your location?"
    %>
      <%= text_field_tag :date,
      params[:date],
      class: "flatpickr input",
      placeholder: "When?"
      %>
      <%= text_field_tag :capacity,
      params[:capacity],
      class: "form-control",
      placeholder: "How many guests?"
    %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</form>

</div>
</div>
</div>
<br>
<br>
<br>


<div class="title">
        <h1>The Screenings</h1>
</div>

<br>
<br>

<div class="list">
  <ul class="list-group list-group-flush">
    <% @screenings.each do |screening| %>
      <h2><li class="list-group-item"><%= link_to screening.film, screening_path(screening), class:"card-link" %></li></h2>
  <% end %>
  </ul>
  </div>
<br>
<br>

 <div class="Add">
      <% if policy(Screening).create? %>
        <%= link_to "New screening", new_screening_path %>
      <% end %>
    </div>

</div>



