
<div id="container">
  <div class="add-screening">
    <h1>&bull; Add a screening &bull;</h1>
    <br>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
      <svg class="icon" viewBox="0 0 145.192 145.192">
      </svg>
    </div>
    <%= simple_form_for(@screening) do |f| %>
    <%= f.input :film, input_html: { class: "name", id: "name_input" } %>
    <%= f.input :location, input_html: { class: "email" } %>
    <%= f.input :description, input_html: { class: "telephone" } %>
    <%= f.input :datetime, input_html: { class: "message" } %>
    <%= f.input :price, input_html: { class: "price" } %>
    <%= f.input :number_of_guests, input_html: { class: "number_of_guests" } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
     <%= f.button :button, "Create a movie session", id: "form_button" %>
    <% end %>
  </div>

</div><!-- // End #container -->
