
<div class="container">


  </div>
</div>




  </div>
    <%#= link_to booking_path(@screening), method: :delete, data: { confirm: "Are you sure?" } do %>
  </div>

<div class="container-cards">
<div class="row row-big-card">
  <div class="cont">
    <div class="card-link">
      <div class="card-img">

    <% @screening.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
      </div>
      <div class="card-inner">
        <h4><%= @screening.film %></h4>
        <div class="inner-text">
          <p><%= @screening.description%></p>

      <br>
           <h2 class="card-pricing">Price per person: <%= @screening.price%>€</h2>
      <h2 class="card-pricing">Max capacity: <%= @screening.number_of_guests%></h2>
        </div>
      <br>
      <br>
        <div class="col-sm-12 col-md-6">
           <%= simple_form_for [@screening, @booking] do |f| %>
        <%= f.input :number_of_guests %>
        <%= f.submit 'Book this screening', class: "btn btn-outline-dark" %>
    <% end %>
  </div>
      </div>
    </div>

  </div>
</div>

</div>

<div class="popup-booking">
<ul>
  <% @screening.bookings.each do |booking| %>
    <li>
      <p>Thanks <%= booking.user.name %> Your booking was succeesful ! (<%= booking.number_of_guests %> guests)</p>
    </li>
  <% end %>
</ul>
</div>
</div>

