<div class="container">
<div class="search-form">
    <h1>Find a wonderful screening near you</h1>
      <%= simple_form_for @screening do |f| %>
        <div class="row" style="margin: 0">
        <%= f.input :location %>
        <%= f.input :datetime, as: :date %>
         <%= f.input :number_of_guests %>
         <div class="search-button">
        <%= submit_tag "Search", class: "btn btn-danger btn-lg btn-block " %>
      <% end %>
      </div>
</div>
</div>



<h1>Screenings available :</h1>
<% @screenings.each do |s| %>
<ul>
  <li><%= s.film %></li>
</ul>
<% end %>
